@charset "UTF-8";

html {
    font-size: 10px;
}

body {
    background-image: url('https://www.teahub.io/photos/full/22-228623_aditya-sharma-wall-hd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 1.8rem;
}
h1, h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
p, a, li, figcaption {
    font-family: 'PT Serif', serif;
    line-height: 1.6;
}

#main {
    margin: 20px 10px;
    padding: 15px;
    background-color: #d1caca83;
    border-radius: 10px;
}

/* Title */
#title {
    margin-bottom: 10px;    
    font-size: 4.4rem;    
}
#intro {
    max-width: 800px;
    margin: 0 auto;    
    font-size: 2rem;
}

/* Image */
#img-div {
    margin: 40px 0;
}
#image {
    max-width: 100%;
    min-width: 100px;
    height: auto;
    margin-bottom: 15px;
}
#img-caption {
    font-size: 2rem;
    font-weight: bold;
}

/* Tribute info */
#tribute-info {
    margin: 40px 0;
}
h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}
ul {
    max-width: 720px;
    margin: 0 auto;
    text-align: left;
}
li {
    margin: 15px 0;
}
#tribute-info h2:last-of-type {
    margin-top: 30px;
}
#tribute-info p {
    max-width: 680px;
    margin: 15px auto;
}

/* Tribute link */
#tribute-link-text {
    max-width: 720px;
    margin: 15px auto;
    font-size: 2rem;
    font-weight: bold;
}
